:root {
    --ff-s: clamp(1rem, 1.30vw, 1.75rem);
    --ff-s-h: clamp(1.75rem, 4vw, 7rem);
    background: white;
}
a {
    font-size: 27px;
}

body {
    /*margin: 0;*/
    margin-top: -1100px;
    margin-bottom: -1100px;
    padding: 0;
    transform: scale(0.75);
    /*transform-origin: 0 0;*/
}

.navbar {
    margin-top: -16px;
    height: 107px;
    width: 100%;
    background: #111F51;
    color: white;
    position: fixed;
    z-index: 1;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    display: flex;
    float: right;
    align-items: center;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    margin: 0 40px 0 0;
}

main {
    margin: 0 0px 0 0px;
}

.general-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.general-info {
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programmer-name {
    color: #E5E5E5;
    font-size: 330px;
    font-family: 'Tinos', sans-serif;
    width: 100%;
}

.info-container {
    margin-top: -600px;
    width: 1000px;
}

.greeting-p {
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 0;
}

.tech-p {
    font-size: 60px;
    margin: 10px 0 0 0;
    font-family: 'Tinos', sans-serif;
}

.developer-p {
    font-size: 60px;
    margin: 0 0 0 0;
    font-family: 'Tinos', sans-serif;
}

.about-me {
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}

.resume-div {
    margin-top: 30px;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 65px;
    background: #E5E5E5;
    border-radius: 5px 5px 5px 5px;
}

.resume-button {
    background: #111F51;
    padding: 8px;
    border: 0;
    color: white;
    font-family: 'Tinos', sans-serif;
    font-size: 27px;
}

.projects-label {
    font-family: 'Tinos', sans-serif;
    font-size: 50px;
    margin-left: 15rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.project-background-div {
    width: 850px;
    height: 446px;
    background: #E5E5E5;
}

.project-img {
    margin-top: -400px;
    width: 700px;
    height: 516px;
}

.project-info-div {
    color: white;
    padding: 30px;
    background: #111F51;
    border-radius: 5px 5px 5px 5px;
    width: 850px;
    height: 400px;
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.91);
}

.app-label {
    margin-top: -10px;
    font-family: 'Tinos', sans-serif;
    font-size: 35px;
}

.app-description {
    font-size: 27px;
}

 a {
     text-decoration: none;
 }

a:link {
    color: white;
    background-color: transparent;
    font-size: 27px;
    text-decoration: none;
    border-bottom: 3px solid #FFF;
    padding-bottom: 3px;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-size: 27px;
}

.project-live-button-logo-div {
    display: flex;
    justify-content: space-between;
}

.project-live-button {
    font-size: 27px;
    width: 175px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    border: 0;
    border-radius: 5px 5px 5px 5px;
}

.logos {
    display: flex;
    align-items: flex-end;
}

.android-logo {
    width: 100px;
    height: 90px;
    margin-right: 30px;
}

.kotlin-logo {
    width: 100px;
    height: 90px;
}

.html-logo {
    width: 100px;
    height: 90px;
    margin-right: 30px;
}

.css-logo {
    width: 75px;
    height: 90px;
}

.js-logo {
    width: 75px;
    height: 90px;
    margin-left: 30px;
}

.node-js-logo {
    width: 125px;
    height: 50px;
    margin-left: 30px;
}

.mongodb-logo {
    width: 125px;
    height: 50px;
    margin-left: 30px;
}

.mariadb-logo {
    width: 125px;
    height: 50px;
    margin-left: 30px;
}

.react-native-logo {
    width: 225px;
    height: 100px;
}

.footer-farewell-message-p {
    margin-left: 5rem;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
}

.footer-email-p {
    margin-left: 7rem;
    margin-top: -15px;
    font-size: 50px;
    font-family: 'Tinos', sans-serif;
}

.copyright-github-linkedin-div {
    /*display: flex;*/
}

.copyright-github-linkedin-div-content {
    display: flex;
    justify-content: space-between;
}

.copyright-p {
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    margin-left: 3rem;
}

.github-linkedin {
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.github {
    margin-right: 30px;
}
svg {
    width: 30px;
    height: 30px;
}

.linkedin {
    margin-right: 3rem;
}


@media only screen and (max-width: 1150px) {

    body {
        margin-top: -900px;
    }

    .navbar {
        margin-top: -16px;
        height: 60px;
        width: 100%;
        background: #111F51;
        color: white;
        position: fixed;
        z-index: 1;
        font-size: 20px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navbar-nav {
        display: flex;
        float: right;
        align-items: end;
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }

    .nav-item {
        margin: 0 40px 0 0;
    }

    main {
        margin: 0 0 0 0;
        padding: 1rem;
    }

    .general-info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 200px;
    }

    .programmer-name {
        margin-top: -50px;
        font-size: 200px;
    }

    .info-container {
        margin-top: -375px;
        width: 650px;
    }

    .greeting-p {
        font-size: 20px;
    }

    .tech-p {
        font-size: 25px;
    }

    .developer-p {
        font-size: 40px;
    }

    .about-me {
        margin-top: 35px;
    }

    .resume-div {
        width: 190px;
        height: 65px;
    }

    .resume-button {
        font-size: 20px;
    }

    .project-background-div {
        width: 700px;
        height: 350px;
        background: #E5E5E5;
    }

    .project-img {
        margin-top: -310px;
        width: 600px;
        height: 400px;
    }

    .project-info-div {
        padding: 30px;
        width: 660px;
        height: 300px;
    }

    .app-label {
        margin-top: -20px;
        font-family: 'Tinos', sans-serif;
        font-size: 30px;
    }

    .app-description {
        font-size: 20px;
    }
    .html-logo {
        width: 80px;
        height: 70px;
        margin-right: 15px;
    }

    .css-logo {
        width: 65px;
        height: 70px;
    }

    .js-logo {
        width: 65px;
        height: 70px;
        margin-left: 15px;
    }

    .node-js-logo {
        width: 100px;
        height: 40px;
        margin-left: 15px;
    }

    .mariadb-logo {
        width: 100px;
        height: 40px;
        margin-left: 15px;
    }

}

@media only screen and (max-width: 700px) {

    .general-info-container {
        margin-left: 100px;
        margin-right: 50px;
    }

    .general-info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 200px;
        margin-left: 240px;
    }

    .programmer-name {
        margin-top: -50px;
        font-size: 200px;
    }

    .info-container {
        margin-top: -375px;
        width: 650px;
    }

    .greeting-p {
        font-size: 20px;
    }

    .tech-p {
        font-size: 25px;
    }

    .developer-p {
        font-size: 40px;
    }

    .about-me {
        margin-top: 35px;
        width: 600px;
    }

    .resume-div {
        width: 190px;
        height: 65px;
    }

    .resume-button {
        font-size: 20px;
    }

    .projects-container {
        width: 350px;
        margin-left: 150px;
    }

    .footer-farewell-message-p {
        margin-left: 2rem;
    }

    .footer-email-p {
        margin-left: 2rem;
    }


    .copyright-github-linkedin-div-content {
        display: flex;
        justify-content: space-between;
    }

    .copyright-p {
        font-size: 27px;
        font-family: 'Roboto', sans-serif;
        margin-left: 3rem;
    }

    .github-linkedin {
        margin-left: 250px;
    }

    .github {
        margin-right: 30px;
    }

    .linkedin {
        margin-right: 3rem;
    }
}