@import
url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import
url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');


/**MOBILE FIRST**/

:root {
    --ff-s: clamp(14px, 1.25vw, 15px);
    --ff-s-h: clamp(1.95rem, 2vw, 3rem);
    --ff-f-sm: 'Roboto';
    --ff-f-b: 'Tinos';
    --bg-c: #111F51;
    --pad: clamp(0.20em, 4vw, 10rem);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    text-rendering: optimizeLegibility !important;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

p {
    font-family: var(--ff-f-sm), sans-serif;
    font-size: var(--ff-s);
    font-weight: 300;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #c5c5c9;
}

a:hover,
a:checked,
a:active {
    font-weight: 500;
    color: white;
    text-decoration: underline;
}




/**NAV**/
nav {
    background-color: var(--bg-c);
    position: fixed;
    width: 100%;
    padding: 0.80em;
    z-index: 5;
}

#drp-menu {
    width: 23px;
    height: 15px;
}

header {
    display: grid;
    align-items: center;
    padding-left: var(--pad);
    padding-right: var(--pad);
}

label {
    display: grid;
}

label img {
    justify-self: end;
    cursor: pointer;
}

#drp-menu:hover,
#drp-menu:active,
#drp-menu:checked {
    border-radius: 2px;
    outline: 1px solid rgb(150, 145, 145);
    padding: 0.30em 0.25em;
}

#menu {
    display: none;
}

#navlist {
    display: none;
}

#menu:checked~#navlist {
    display: grid;
    place-items:  center;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 86vw;
    line-height: 3;
}

/**END-OF-NAV**/




main, footer {
    padding: var(--pad);
}


/**ABOUT ME**/



.general-info-container {
    margin-top: 8rem;

}

.greeting-p {
    font-size: 17px;
    color: #333333;
    font-weight: 400;
}

.programmer-name {
    color: #f2f2f2;
    font-size: 230px;
    font-family: var(--ff-f-b);
    font-weight: 700;
    position: relative;
    z-index: -1;
    margin-top: -0.42em;

}

.info-container {
    position: relative;
    margin-top: -18em;
}

.tech-p {
    font-family: var(--ff-f-b);
    font-size: var(--ff-s-h);
    font-weight: 700;
    color: #333333;
    margin-top: -10.25rem;
    position: absolute;
    z-index: 0;

}

.techs {
    color: #2d51d2;
    font-weight: 400;
    font-size: 15px;
}

.programmer-name-last {
    color: #f2f2f2;
    font-size: 230px;
    font-family: var(--ff-f-b);
    font-weight: 700;
    position: absolute;
    z-index: -1;
    margin-top: -4rem;
    margin-left: 0.3em;

}

.line-break {
    display: none;
}


/**END OF ABOUT ME**/





/**WORK**/

.projects {
    position: relative;
    margin-top: 17rem;
}

.projects-label {
    font-family: var(--ff-f-b);
    margin-bottom: 5rem;
    text-decoration: underline;

}

.project-img {
    max-width: 100%;

}

.android-logo, .kotlin-logo,
.node-js-logo, .mongodb-logo,
.html-logo, .css-logo,
.mariadb-logo, .js-logo {
    width: auto;
    height: clamp(1.25rem, 4vw, 2.5rem);
    padding-left: clamp(0.5em, 3vw, 2em);
}

.react-native-logo {
    width: auto;
    height: 2.5rem;
    padding-left: 0.5em;
}

.project-div {
    margin-bottom: 5rem;

}


.project-background-div {
    background-color:  #f2f2f2;
    padding: 0.75em 0.75em;
    position: relative;
}


.project-info-div {
    background-color: var(--bg-c);
    padding: 1em;
    color: white;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    margin-top: -2rem;
    box-shadow: 5px 10px 20px -5px rgba(50, 52, 53, 0.9);
}

.project-live-button-logo-div{
    display: flex;
    justify-content: space-between;

}

.app-label {
    font-size: clamp(18px, 3vw, 20px);
    margin-bottom: 1.5em;
    font-weight: 700;
    font-family: var(--ff-f-b);
}

.app-description {
    color: #D5DCF6;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.app-source-code {
    color: white;
}



/**END OF WORK**/





/**CONTACT**/

.footer-farewell-message-p {
    font-size: 17px;
}

.footer-email-p {
    font-family: var(--ff-f-b);
    font-size: 27px;
    margin-top: -1.5rem;
}

.copyright-github-linkedin-div-content {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;

}

.copyright-p {
    color: #888891;
}

.github-linkedin {
    display: flex;

}

svg {
    width: auto;
    height: 25px;
    margin-bottom: -7px;

}

.github-linkedin-contact-links {
    margin-right: 15px;
    color: #888891;
}

.github-linkedin-contact-links:hover,
.github-linkedin-contact-links:active {
    color: #4e4e54;
    text-decoration: none;
}


/**END OF CONTAC**/






/**MEDIA QUERIES FOR LARGER SCREEN SIZE**/


@media (min-width: 400px) {  /** measurement is absolute px, so items won't move**/

    /**PROJECTS**/

    .projects-container {
        display: grid;
        justify-items: center;
    }

    .project-div {
        margin-bottom: 5rem;
        width: 371px;
        height: 560px;

    }


    .android-logo, .kotlin-logo,
    .node-js-logo, .mongodb-logo,
    .html-logo, .css-logo,
    .mariadb-logo, .js-logo {
        width: auto;
        height: 27px;
        padding-left: 5px;
    }

    .react-native-logo {
        width: auto;
        height: 40px;
        padding-left: 5px;
    }

    /**END OF PROJECTS**/

}


@media (min-width: 600px) {

    /**NAV**/
    nav {
        padding: 0.1em;
    }

    header, #menu {
        display: none;
    }


    #navlist {
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }

    .nav-list{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        text-align: right;
        align-items:  center;
        margin-right: 4rem;
    }

    /**END OFNAV**/




    /**ABOUT ME**/

    .tech-p {
        margin-top: -9.25rem;
        font-size: 2.25rem;

    }

    .programmer-name-last {
        display: none;
    }

    .line-break {
        display: flex;
        color: #e6e6e6;
        margin-top: 7rem;
    }

    /**END OF ABOUT ME**/


    /**WORK**/


    #projects {
        margin-top: 3em;

    }

    /**END OF WORK**/

}


/**GRID STYLE used absolute measurement px**/


@media (min-width: 847px) {


    /**ABOUT ME**/

    .tech-p {
        max-width: 60%;
    }

    .greeting-p, .info-container {
        width: 780px;

    }

    .general-info-container {
        display: grid;
        justify-items: center;
    }


    /**WORK**/


    .project-img {
        height: 250px;
    }



    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr;


    }


    .project-info-div {
        background-color: var(--bg-c);
        padding: 1em;
        color: white;
        border-radius: 10px;
        position: relative;
        z-index: 2;
        margin-top: -2rem;
        height: 320px;
        display: grid;
    }

    .app-description {
        color: #D5DCF6;
        line-height: 1.5;
        margin-bottom: 2rem;
        font-size: 14px;
    }

    /**END OF WORK**/



    /**FOOTER **/


    .footer-email-p {
        font-family: var(--ff-f-b);
        font-size: 35px;
        margin-top: -1.5rem;
    }


}


@media (min-width: 1300px) {

    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;


    }

}